@import "./components/navBar";
@import "./components/contact";
@import "./components/home";
@import "./components/login";
@import "./scss/mdb.dark.scss";
@import "./components/register";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
