@import "mdb-react-ui-kit/dist/scss/mdb.pro.scss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
// DARK SKIN
$my-theme-primary: #21a89a;
$my-theme-secondary: #e3ebf7;
$my-dark-theme: mdb-light-theme($my-theme-primary, $my-theme-secondary);
@include mdb-theme($my-dark-theme);

@import "./components/navBar";
@import "./components/map";
@import "./components/myAccount";
@import "./components/home";
@import "./components/login";
@import "./components/register";
@import "./components/reservation";
@import "./components/cars";
@import "./components/modifprofil";
@import "./components/backofficeutilisateur";
@import "./components/backofficeaccueil";
@import "./components/backofficemodifprofil";
@import "./components/backofficecars";
@import "./components/registercars";
@import "./components/newreservation";
@import "./components/anim.home";
@import "./components/navbarbo";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
.global-container-outlet {
  min-height: 100vh;
  z-index: 1;
}
.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 10px rgba(0.1, 0.1, 0.1, 0.1);
  border: 1px solid lightgray;

  button {
    margin: 20px;
  }
}

.global-container-outlet:not(:has(.map-container)) {
  margin-bottom: 90px;
}

@media only screen and (min-width: 768px) {
  .global-container-outlet {
    margin-top: 70px;
    margin-bottom: 0;
  }

  .global-container-outlet:not(
      :has(
          .map-container,
          .backofficeaccueil_container,
          .backofficeutilisateur_container
        )
    ) {
    max-width: 768px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 0;
  }
}
