.backofficeaccueil_container {
  margin-block: 12px;
  padding-inline: 12px;
  width: 100%;

  .dashboard_container {
    padding: 60px;
  }
  .card {
    box-shadow: 14px 18px 9px 5px rgba(0, 0, 0, 0.1);
  }
}
