.backofficeutilisateur_container {
  margin-block: 12px;
  padding-inline: 12px;
  width: 100%;

  .backoffidata {
    margin: 50px;
  }

  .back {
    font-size: "Lato";
  }
  .body {
    padding-top: 90px;
  }
}
