.backofficeaccueil_container {
  width: 100%;

  .dashboard_container {
    margin: 30px 20px;
  }
  .card {
    margin-bottom: 15px;
    box-shadow: 4px 1px 5px 1px rgba(0, 0, 0, 0.1);
  }
}
.bo-title {
  margin-top: 50px;
}
.popup-btn {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 1024px) {
  .menu-btn-nav-bo {
    display: none;
  }
}
