.cars-container {
  margin: 0 30px;

  .back {
    font-size: 18px;
    margin-block: 25px;
    border: none;
    background-color: white;
  }

  .my-cars {
    margin-top: 20px;
    margin-bottom: 30px;

    .card {
      max-width: 500px;
      margin: auto;
      margin-block: 10px;
      display: flex;
      justify-content: space-around;

      .card-body {
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        p {
          margin: 0;
        }

        .btn-delete-car {
          display: flex;
          align-self: flex-end;
          height: 30px;
          margin-top: 15px;
          border-radius: 10px;
        }
      }
    }
  }

  .add-car {
    display: flex;
    justify-content: center;

    .mb-4 {
      width: 85%;
    }
  }
}
