.login-form {
  .contact {
    font-family: "Lato";
    margin-left: 40px;
    margin-top: 10px;
  }
  #feedback-page {
    text-align: center;
  }

  #form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
  }

  #form-div {
    margin: 29px;
    display: flex;
    background-color: rgba(191, 206, 193, 0.4);
    padding-top: 35px;
    padding-bottom: 50px;
    margin-top: 30px;
    border-radius: 20px;
    justify-content: center;
  }

  .feedback-input {
    color: #3c3c3c;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #21a89a;
    color: #21a89a;
    outline: none;
    padding: 13px 13px 13px 54px;
  }

  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
    font-family: "Inter";
  }

  input:hover,
  textarea:hover,
  input:focus,
  textarea:focus {
    background-color: white;
  }

  #button-blue {
    text-align: center;
    font-family: "Lato";
    float: left;
    width: 50%;
    border: #fbfbfb solid 4px;
    background-color: #21a89a;
    color: white;
    font-size: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    /* -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; */
    margin-top: -4px;
    font-weight: 700;
    border-radius: 20px;
  }

  #button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #21a89a;
  }

  /* .ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    transition: 0.3s ease;
  } */

  /* .submit:hover .ease {
    width: 100%;
    background-color: white;
  } */
  .submit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
