.home-container {
  & > * {
    margin: 15px;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
  }

  .img-home {
    width: 100%;
  }
  .img-road-container {
    position: relative;
  }
  .img-road {
    width: 100%;
    height: 100%;
    display: block;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8)
    );
  }

  .slogan {
    text-align: center;
    font-family: "Lato";
    font-size: x-large;
  }
  .button-map-container {
    display: flex;
    justify-content: space-around;
  }
  .mb-4 {
    font-family: "Inter";
    width: 50%;
  }

  .card-container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin-block: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 31px 30px 11px -16px rgba(0, 0, 0, 0.1);
  }
  .card-text {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  .video-container {
    display: flex;
  }
}
