.home-container {
  & > * {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    box-sizing: border-box;
  }

  .logo-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    margin: auto;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .slogan {
    padding: 0;
    text-align: center;
    font-family: "Lato";
    font-size: x-large;
    margin-bottom: 40px;
  }

  .button-map-container {
    display: flex;
    justify-content: space-around;
  }

  .mb-4 {
    font-family: "Inter";
    width: 50%;
  }

  .card-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 30px; */

    .card {
      width: 350px;
      height: 370px;
      border-radius: 10px;
      box-shadow: 31px 30px 11px -16px rgba(0, 0, 0, 0.1);
      border: 1px solid #f5f5f5;
      justify-content: center;
      align-items: center;
      margin: 15px;

      img {
        aspect-ratio: initial;
        max-height: 300px;
        max-width: 330px;
        padding: 10px;
      }

      div {
        font-family: "Inter", sans-serif;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin: 10px;
      }
    }
  }

  .video-container video {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .contact {
    text-align: center;
    margin: 50px;
  }

  @media only screen and (min-width: 768px) {
    padding-top: 20px;

    .logo-container {
      display: none;
    }

    .img-road-container {
      display: none;
    }
  }
}
