.login-form {
  padding: 2rem;

  h1 {
    padding: 1rem;
  }

  #contact-textarea {
    min-height: 20vh;
  }
}

@media only screen and (min-width: 768px) {
  .login-form {
    margin: 0 10% 0 10%;
    display: block;

    button {
      margin-inline: auto;
      display: block;
      max-width: 50%;
    }
  }
}
