.makereservation-container {
  padding: 15px;
  .card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 14px 18px 9px 5px rgba(0, 0, 0, 0.1);
  }
  .reservation-select {
    font-size: 17px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .card {
    margin-inline: 50px;
  }
  .choixreservation {
    margin: 20px;
  }
  .btn-reservation {
    margin-top: 50px;
    display: flex;
    height: 30px;
    border-radius: 10px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .yourstation {
    margin-left: 50px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
  }
}
