.modifprofil_container {
  padding: 2rem;

  .back {
    font-size: 18px;
    margin-left: 50px;
    margin-block: 25px;
    border: none;
    background-color: white;
  }

  h1 {
    padding: 1rem;
  }
  .titlemofilprofil {
    font-family: "Lato";
  }
}
@media only screen and (min-width: 768px) {
  .modifprofil_container {
    margin: 0 10% 0 10%;
    display: block;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    padding-inline: 40px;
    button {
      margin-inline: auto;
      display: block;
      max-width: 50%;
    }
  }
}
