.the-navbar {
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  background-color: #21a89a;
  padding-block: 5px;
  width: 100%;
  z-index: 2;
  height: 70px;

  .desktop-only-container {
    display: none;
  }
  .navbar-title {
    margin-top: 3px;
    margin-bottom: 0;
    font-size: 14px;
    color: white;
    font-family: "Inter";
  }

  .material-symbols-outlined {
    color: white;
    font-size: 32px;
  }

  .navbar-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  .navbar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-button_profil {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
  }

  .navbar-button_connect {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  @media only screen and (min-width: 768px) {
    top: 0;
    position: fixed;
    bottom: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    .desktop-only-container {
      display: flex;
      align-items: center;

      img {
        height: 35px;
      }
    }

    .home_title {
      color: white;
      font-family: "Lato";
      font-size: 2rem;
      margin: 0;
      margin-right: 10px;
    }

    .navbar-buttons {
      justify-content: flex-end;
    }

    .navbar-button {
      display: flex;
      flex-direction: row-reverse;
      margin: 0 20px;
    }

    .navbar-button_profil {
      display: flex;
      flex-direction: row-reverse;
      margin-left: 20px;
    }

    .navbar-button_connect {
      display: flex;
      align-items: center;
    }
  }
}
