.navbar-bo-container {
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #21a89a;
  background-color: #f5f5f5;

  .navbar-bo-btn {
    color: #4f4f4f !important;
    margin: 0 20px;
  }
}
